In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
## Import interest rate data
rate = pd.read_csv("DGS10.csv")
rate.head()

         DATE DGS10
0  1962-01-02  4.06
1  1962-01-03  4.03
2  1962-01-04  3.99
3  1962-01-05  4.02
4  1962-01-08  4.03

In [3]:
rate = rate.rename(columns = {"DATE":"Sale_date", "DGS10":"10_yr_treasury_rate"})

In [4]:
rate.Sale_date = pd.to_datetime(rate.Sale_date)

In [5]:
sales = pd.read_csv("Sales_data_cleaned.csv")

## Florida

In [6]:
florida = pd.read_csv("Property_FL.csv", index_col = 0)
florida.head(2)

,SCAPN,SCSitus_NumNam,PropID,Star_rating,City,State,Zip,County,For_sale_price,For_sale_status,...,Num_4_bed,4_bed_rent_sqft,4_bed_avg_sqft,4_bed_concession_%,4_bed_vacancy_%,2010_Avg_age,2019_Avg_age,2019_Pop_25_39,2024_Avg_age,2024_Pop_25_39
0,FL Pinellas 34-29-15-50256-001-0010,FL Pinellas600 Bay Dr,P2828,4,Largo,FL,337703328,Pinellas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.8,44.5,3406.0,44.5,3475.0
1,FL Pinellas 24-31-16-29718-013-0150,FL Pinellas1601 Central Ave,P2829,4,Saint Petersburg,FL,337138934,Pinellas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,39.8,41.7,4022.0,42.4,3831.0

In [7]:
# Merge Florida data
florida_merge = pd.merge(florida, sales, how = 'left', on = ["SCAPN"])

In [8]:
florida_merge.shape
## There are more entries in this file than the florida property file because some entries are duplicated as they
## were sold multiple times

(6597, 72)

In [9]:
florida.shape

(5315, 56)

In [10]:
sales.shape

(24527, 17)

In [11]:
florida_merge["Sale_date"] = pd.to_datetime(florida_merge["Sale_date"])

In [12]:
florida_merge = pd.merge(florida_merge, rate, how = "left", on = "Sale_date")

In [13]:
florida_merge.head()

,SCAPN,SCSitus_NumNam_x,PropID,Star_rating,City,State,Zip,County,For_sale_price,For_sale_status,...,Total_value,Assessed_yr,Floor_area_ratio,Num_floors,Price_per_sqft,Land_price_per_AC,Sale_date,Sale_price,Listing_broker_company,10_yr_treasury_rate
0,FL Pinellas 34-29-15-50256-001-0010,FL Pinellas600 Bay Dr,P2828,4,Largo,FL,337703328,Pinellas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,FL Pinellas 24-31-16-29718-013-0150,FL Pinellas1601 Central Ave,P2829,4,Saint Petersburg,FL,337138934,Pinellas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,FL Hillsborough A-24-29-18-4ZI-000017-00002.1,FL Hillsborough915 Franklin St,P2830,4,Tampa,FL,336023809,Hillsborough,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,FL Hillsborough A-19-29-19-4X2-000010-00001.0,FL Hillsborough1211 Kennedy Blvd,P2831,4,Tampa,FL,336023513,Hillsborough,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,FL Pinellas 19-31-17-74466-021-0141,FL Pinellas297 1st Ave,P2832,4,Saint Petersburg,FL,337013308,Pinellas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [14]:
florida_merge.shape

(6597, 73)

In [15]:
florida_merge.to_csv("Florida_all_data.csv")

## Georgia

In [16]:
# Merge Georgia data
georgia = pd.read_csv("Property_GA.csv")

In [17]:
georgia_merge = pd.merge(georgia, sales, how = "left", on = ["SCAPN"])

In [18]:
print(georgia_merge.shape)
print(georgia.shape)

(3620, 73)
(2827, 57)

In [19]:
georgia_merge["Sale_date"] = pd.to_datetime(georgia_merge["Sale_date"])

In [20]:
georgia_merge = pd.merge(georgia_merge, rate, how = "left", on = "Sale_date")

In [21]:
georgia_merge.shape

(3620, 74)

In [22]:
georgia_merge.to_csv("Georgia_all_data.csv")

## North Carolina

In [23]:
# Merge North Carolina data
n_carolina = pd.read_csv("Property_NC.csv")

In [24]:
n_carolina_merge = pd.merge(n_carolina, sales, how = "left", on = ["SCAPN"])

In [25]:
print(n_carolina_merge.shape)
print(n_carolina.shape)

(2871, 73)
(2426, 57)

In [26]:
n_carolina_merge["Sale_date"] = pd.to_datetime(n_carolina_merge["Sale_date"])

In [27]:
n_carolina_merge = pd.merge(n_carolina_merge, rate, how = "left", on = "Sale_date")

In [28]:
n_carolina_merge.shape

(2871, 74)

In [29]:
n_carolina_merge.to_csv("North_Carolina_all_data.csv")

## Texas

In [30]:
# Merge Texas data
texas = pd.read_csv("Property_TX.csv")

In [31]:
texas_merge = pd.merge(texas, sales, how = "left", on = ["SCAPN"])

In [32]:
print(texas_merge.shape)
print(texas.shape)

(11658, 73)
(9795, 57)

In [33]:
texas_merge["Sale_date"] = pd.to_datetime(texas_merge["Sale_date"])

In [34]:
texas_merge = pd.merge(texas_merge, rate, how = "left", on = "Sale_date")

In [35]:
texas_merge.shape

(11658, 74)

In [36]:
texas_merge.to_csv("Texas_all_data.csv")