In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import linear_model
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import datetime as dt

In [66]:
sudoku = pd.read_csv("sudoku_counts.csv")

In [67]:
sudoku["Age"] = int(dt.datetime.today().strftime("%Y")) - sudoku["Birth_Year"]

In [68]:
sudoku["Gender_numeric"] = sudoku["Gender"].map({"m":1, "f":0})

In [69]:
sudoku.head()

,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year,Country,US_State,Gender,Age,Gender_numeric
0,1,1,506,1,1,0,506,256036,1976,Israel,0,m,43,1.0
1,2,1,79,12,11,1,2307,511683,1950,Israel,0,f,69,0.0
2,2,2,65,2,1,1,131,8581,1950,Israel,0,f,69,0.0
3,2,4,294,2,2,0,1556,1679080,1950,Israel,0,f,69,0.0
4,3,1,190,1,1,0,190,36100,0,NaN,TX,0,2019,NaN

In [70]:
sudoku = sudoku.drop(sudoku[sudoku.Age > 90].index)
sudoku = sudoku.drop(sudoku[sudoku.Age < 6].index)
sudoku = sudoku.dropna()

In [32]:
print(sudoku.Gender.unique())
print(sudoku.Age.sort_values().unique())

['m' 'f']
[ 6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77
 78 79 80 81 82 83 84 85 86 87 88 89 90]

In [33]:
sudoku.head()

,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year,Country,US_State,Gender,Age,Gender_numeric
0,1,1,506,1,1,0,506,256036,1976,Israel,0,m,43,1.0
1,2,1,79,12,11,1,2307,511683,1950,Israel,0,f,69,0.0
2,2,2,65,2,1,1,131,8581,1950,Israel,0,f,69,0.0
3,2,4,294,2,2,0,1556,1679080,1950,Israel,0,f,69,0.0
7,5,1,257,119,35,21,72691,53643653,1949,United States,FL,m,70,1.0

In [34]:
sudoku.shape

(183640, 14)

In [60]:
gender_dummies = pd.get_dummies(sudoku.Gender)

In [61]:
sudoku_best_time = pd.DataFrame(sudoku["Best Time (s)"])
sudoku_best_time = sudoku_best_time.join(sudoku.Age).join(gender_dummies)
sudoku_best_time.head()

   Best Time (s)  Age  f  m
0            506   43  0  1
1             79   69  1  0
2             65   69  1  0
3            294   69  1  0
7            257   70  0  1

In [62]:
Y = sudoku["Best Time (s)"]
X = sudoku_best_time.drop("Best Time (s)", axis = 1)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .20, random_state = 40)
regr = linear_model.LinearRegression() # Do not use fit_intercept = False if you have removed 1 column after dummy encoding

regr.fit(X_train, Y_train)
predicted = regr.predict(X_test)
predicted

array([740.66852851, 682.00154088, 696.97578582, ..., 742.54030913,
       686.05706555, 739.42067476])

In [63]:
X1 = sm.add_constant(X_train)
model = sm.OLS(Y_train, X1).fit()

/Users/jennyshang/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [64]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          Best Time (s)   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     116.4
Date:                Fri, 08 Nov 2019   Prob (F-statistic):           3.20e-51
Time:                        17:12:36   Log-Likelihood:            -1.1714e+06
No. Observations:              146912   AIC:                         2.343e+06
Df Residuals:                  146909   BIC:                         2.343e+06
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        469.3359      3.254    144.242      0.000     462.959     475.713
Age            0.3120      0.098      3.192      0.001       0.120       0.503
f            207.0503      2.503     82.721      0.000     202.144     211.956
m            262.2857      2.520    104.093      0.000     257.347     267.224
==============================================================================
Omnibus:                   108015.216   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2075998.764
Skew:                           3.417   Prob(JB):                         0.00
Kurtosis:                      20.101   Cond. No.                     3.83e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.54e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

## Can we get model that predicts number of puzzles solved based on Age, Gender

In [72]:
## Level 1

sudoku1 = sudoku[sudoku["Puzzle Level"] == 1]

In [73]:
sudoku1.head()

,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year,Country,US_State,Gender,Age,Gender_numeric
0,1,1,506,1,1,0,506,256036,1976,Israel,0,m,43,1.0
1,2,1,79,12,11,1,2307,511683,1950,Israel,0,f,69,0.0
7,5,1,257,119,35,21,72691,53643653,1949,United States,FL,m,70,1.0
13,8,1,156,850,785,65,253451,115729295,1963,India,0,m,56,1.0
22,13,1,234,1,0,0,234,54756,1974,United States,VA,m,45,1.0

In [74]:
### Create dummy variables for Gender and Country
gender_dummies = pd.get_dummies(sudoku1.Gender)
country_dummies = pd.get_dummies(sudoku1.Country)

In [99]:
### Create the data table that has the y-value and the x-variables
sudoku1_numpuzzle = pd.DataFrame(sudoku1["Puzzles Solved"])
sudoku1_numpuzzle = sudoku1_numpuzzle.join(sudoku1.Age).join(gender_dummies)
sudoku1_numpuzzle.head()

    Puzzles Solved  Age  f  m
0                1   43  0  1
1               12   69  1  0
7              119   70  0  1
13             850   56  0  1
22               1   45  0  1

In [91]:
### Create linear regression model
Y = sudoku1["Puzzles Solved"]
X = sudoku1_numpuzzle.drop("Puzzles Solved", axis = 1)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .20, random_state = 40)
regr = linear_model.LinearRegression() # Do not use fit_intercept = False if you have removed 1 column after dummy encoding

regr.fit(X_train, Y_train)
predicted = regr.predict(X_test)
predicted

array([27.06862   , 10.76431926, -2.19114326, ..., 68.13851043,
       21.51627891, 75.18890936])

In [92]:
X1 = sm.add_constant(X_train)
model = sm.OLS(Y_train, X1).fit()

/Users/jennyshang/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [93]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         Puzzles Solved   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     294.7
Date:                Fri, 08 Nov 2019   Prob (F-statistic):          3.61e-128
Time:                        17:25:18   Log-Likelihood:            -5.0056e+05
No. Observations:               68027   AIC:                         1.001e+06
Df Residuals:                   68024   BIC:                         1.001e+06
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -21.9369      2.454     -8.940      0.000     -26.746     -17.127
Age            1.8508      0.077     24.144      0.000       1.701       2.001
f            -11.7175      1.910     -6.134      0.000     -15.462      -7.973
m            -10.2194      1.935     -5.282      0.000     -14.012      -6.427
==============================================================================
Omnibus:                   188398.932   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      12244360971.823
Skew:                          35.338   Prob(JB):                         0.00
Kurtosis:                    2080.217   Cond. No.                     1.65e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.82e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [108]:
sudoku1_totaltime = pd.DataFrame(sudoku1["Total Time (s) for all Puzzles Solved"])
sudoku1_totaltime = sudoku1_totaltime.join(sudoku1["Best Time (s)"])
sudoku1_totaltime.head()

    Total Time (s) for all Puzzles Solved  Best Time (s)
0                                     506            506
1                                    2307             79
7                                   72691            257
13                                 253451            156
22                                    234            234

In [109]:
Y = sudoku1["Total Time (s) for all Puzzles Solved"]
X = sudoku1_totaltime.drop("Total Time (s) for all Puzzles Solved", axis = 1)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .20, random_state = 40)
regr = linear_model.LinearRegression() # Do not use fit_intercept = False if you have removed 1 column after dummy encoding

regr.fit(X_train, Y_train)
predicted = regr.predict(X_test)
predicted

array([26753.63779283, 21794.74654401, 20671.97871409, ...,
       24339.6869585 , 12775.17831031, 27165.31933047])

In [110]:
X1 = sm.add_constant(X_train)
model = sm.OLS(Y_train, X1).fit()

/Users/jennyshang/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [111]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                      OLS Regression Results
=================================================================================================
Dep. Variable:     Total Time (s) for all Puzzles Solved   R-squared:                       0.009
Model:                                               OLS   Adj. R-squared:                  0.009
Method:                                    Least Squares   F-statistic:                     616.3
Date:                                   Fri, 08 Nov 2019   Prob (F-statistic):          1.91e-135
Time:                                           17:43:46   Log-Likelihood:            -8.8418e+05
No. Observations:                                  68027   AIC:                         1.768e+06
Df Residuals:                                      68025   BIC:                         1.768e+06
Df Model:                                              1
Covariance Type:                               nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          3.106e+04    598.190     51.919      0.000    2.99e+04    3.22e+04
Best Time (s)   -18.7128      0.754    -24.826      0.000     -20.190     -17.235
==============================================================================
Omnibus:                   157871.736   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       2296537259.399
Skew:                          22.741   Prob(JB):                         0.00
Kurtosis:                     901.973   Cond. No.                     1.16e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.16e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""