In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
user = pd.read_csv("sudoku_user.csv")

In [3]:
num = pd.read_csv("sudoku_counts.csv")

In [4]:
user.head()

   User ID  Birth Year Country      Country.1 US State Gender
0        1        1976      il         Israel      NaN      m
1        2        1950      il         Israel      NaN      f
2        3           0     NaN            NaN       TX    NaN
3        4           0     NaN            NaN      NaN    NaN
4        5        1949      us  United States       FL      m

In [5]:
num.head()

,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year,Country,US_State,Gender
0,1,1,506,1,1,0,506,256036,1976,Israel,0,m
1,2,1,79,12,11,1,2307,511683,1950,Israel,0,f
2,2,2,65,2,1,1,131,8581,1950,Israel,0,f
3,2,4,294,2,2,0,1556,1679080,1950,Israel,0,f
4,3,1,190,1,1,0,190,36100,0,NaN,TX,0

## Look at Level = Easy

In [6]:
num1 = num[num["Puzzle Level"] == 1].reset_index()

In [7]:
num1.head()

,index,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year,Country,US_State,Gender
0,0,1,1,506,1,1,0,506,256036,1976,Israel,0,m
1,1,2,1,79,12,11,1,2307,511683,1950,Israel,0,f
2,4,3,1,190,1,1,0,190,36100,0,NaN,TX,0
3,7,5,1,257,119,35,21,72691,53643653,1949,United States,FL,m
4,13,8,1,156,850,785,65,253451,115729295,1963,India,0,m

In [8]:
num1["Gender_numeric"] = num1["Gender"].map({"m":1, "f":0})

In [9]:
num1.head()

,index,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year,Country,US_State,Gender,Gender_numeric
0,0,1,1,506,1,1,0,506,256036,1976,Israel,0,m,1.0
1,1,2,1,79,12,11,1,2307,511683,1950,Israel,0,f,0.0
2,4,3,1,190,1,1,0,190,36100,0,NaN,TX,0,NaN
3,7,5,1,257,119,35,21,72691,53643653,1949,United States,FL,m,1.0
4,13,8,1,156,850,785,65,253451,115729295,1963,India,0,m,1.0

In [10]:
num1.groupby(["Country"])["Gender_numeric"].sum()

Country
Afghanistan                                29.0
Albania                                    93.0
Algeria                                    44.0
American Samoa                             21.0
Andorra                                     5.0
Angola                                      9.0
Anguilla                                    1.0
Antarctica                                 11.0
Antigua and Barbuda                        10.0
Argentina                                 146.0
Armenia                                    16.0
Aruba                                      11.0
Australia                                1153.0
Austria                                    39.0
Azerbaijan                                 23.0
Bahamas                                    13.0
Bahrain                                    41.0
Bangladesh                                183.0
Barbados                                   17.0
Belarus                                     5.0
Belgium                                   217.0
Belize                                     11.0
Benin                                       0.0
Bermuda                                     6.0
Bhutan                                      2.0
Bolivia, Plurinational State of            18.0
Bosnia and Herzegovina                    114.0
Botswana                                   11.0
Bouvet Island                               1.0
Brazil                                    523.0
                                         ...
Taiwan, Province of China                  94.0
Tanzania, United Republic of                9.0
Thailand                                  278.0
Timor-Leste                                 1.0
Togo                                        0.0
Tokelau                                     1.0
Trinidad and Tobago                        32.0
Tunisia                                    26.0
Turkey                                    433.0
Turkmenistan                                1.0
Turks and Caicos Islands                    1.0
Tuvalu                                      1.0
Uganda                                     50.0
Ukraine                                    40.0
United Arab Emirates                      180.0
United Kingdom                           4394.0
United States                           19391.0
United States Minor Outlying Islands       13.0
Uruguay                                    11.0
Uzbekistan                                  8.0
Vanuatu                                     1.0
Venezuela, Bolivarian Republic of         107.0
Viet Nam                                  374.0
Virgin Islands, British                     3.0
Virgin Islands, U.S.                        4.0
Wallis and Futuna                           2.0
Yemen                                      19.0
Zambia                                     12.0
Zimbabwe                                   28.0
√Öland Islands                              6.0
Name: Gender_numeric, Length: 224, dtype: float64

In [11]:
num1.groupby(["Country"])["Gender_numeric"].count()

Country
Afghanistan                                41
Albania                                   136
Algeria                                    52
American Samoa                             45
Andorra                                     7
Angola                                     12
Anguilla                                    6
Antarctica                                 19
Antigua and Barbuda                        12
Argentina                                 216
Armenia                                    30
Aruba                                      27
Australia                                2131
Austria                                    55
Azerbaijan                                 31
Bahamas                                    31
Bahrain                                    62
Bangladesh                                232
Barbados                                   32
Belarus                                     9
Belgium                                   303
Belize                                     18
Benin                                       3
Bermuda                                    17
Bhutan                                      5
Bolivia, Plurinational State of            28
Bosnia and Herzegovina                    170
Botswana                                   26
Bouvet Island                               1
Brazil                                    705
                                        ...
Taiwan, Province of China                 147
Tanzania, United Republic of               13
Thailand                                  497
Timor-Leste                                 2
Togo                                        1
Tokelau                                     1
Trinidad and Tobago                        73
Tunisia                                    43
Turkey                                    568
Turkmenistan                                1
Turks and Caicos Islands                    2
Tuvalu                                      2
Uganda                                     74
Ukraine                                    59
United Arab Emirates                      290
United Kingdom                           7930
United States                           40298
United States Minor Outlying Islands       41
Uruguay                                    21
Uzbekistan                                 11
Vanuatu                                     1
Venezuela, Bolivarian Republic of         139
Viet Nam                                  586
Virgin Islands, British                     6
Virgin Islands, U.S.                        7
Wallis and Futuna                           2
Yemen                                      19
Zambia                                     16
Zimbabwe                                   46
√Öland Islands                             13
Name: Gender_numeric, Length: 224, dtype: int64

In [12]:
num1.groupby("Gender_numeric").sum()

,index,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year
Gender_numeric,,,,,,,,,,
0.0,6375156808,4910181900,41794,24134248,1992887,1167633,316191,841485625,695173797895,77280668
1.0,8418280888,6489067081,54702,31955191,2756121,1787557,365287,1129413783,884145969988,103871882

In [13]:
perc_num1 = num1.groupby(["Country"])["Gender_numeric"].sum()/num1.groupby(["Country"])["Gender_numeric"].count()

In [14]:
perc_num1.mean()

0.6287285108383015

## Look at Level = Medium

In [15]:
num2 = num[num["Puzzle Level"] == 2].reset_index()

In [16]:
num2["Gender_numeric"] = num2["Gender"].map({"m":1, "f":0})

In [17]:
num2.head()

,index,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year,Country,US_State,Gender,Gender_numeric
0,2,2,2,65,2,1,1,131,8581,1950,Israel,0,f,0.0
1,5,4,2,202,874,2,0,405849,210093747,0,NaN,0,0,NaN
2,8,5,2,616,97,2,2,137276,218080970,1949,United States,FL,m,1.0
3,11,6,2,223,106,1,0,52033,28343177,0,NaN,0,0,NaN
4,12,7,2,409,7,2,3,7781,10452679,1958,United States,WA,f,0.0

In [18]:
perc_num2 = num2.groupby(["Country"])["Gender_numeric"].sum()/num2.groupby(["Country"])["Gender_numeric"].count()

In [19]:
perc_num2.mean()

0.6499114761129177

## Look at Level = Hard

In [20]:
num3 = num[num["Puzzle Level"] == 3].reset_index()

In [21]:
num3["Gender_numeric"] = num3["Gender"].map({"m":1, "f":0})

In [22]:
perc_num3 = num3.groupby(["Country"])["Gender_numeric"].sum()/num3.groupby(["Country"])["Gender_numeric"].count()

In [23]:
perc_num3.mean()

0.6939850720783743

## Look at Level = Expert

In [24]:
num4 = num[num["Puzzle Level"] == 4].reset_index()

In [25]:
num4["Gender_numeric"] = num4["Gender"].map({"m":1, "f":0})

In [26]:
num4.head()

,index,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year,Country,US_State,Gender,Gender_numeric
0,3,2,4,294,2,2,0,1556,1679080,1950,Israel,0,f,0.0
1,10,5,4,3360,1,0,0,3360,11289600,1949,United States,FL,m,1.0
2,16,8,4,339,825,125,700,658827,624195239,1963,India,0,m,1.0
3,18,11,4,836,976,972,4,1789891,3533206483,1943,United States,TX,m,1.0
4,26,14,4,430,168,23,138,124293,95880567,1965,Egypt,0,m,1.0

In [27]:
perc_num4 = num4.groupby(["Country"])["Gender_numeric"].sum()/num4.groupby(["Country"])["Gender_numeric"].count()

In [28]:
perc_num4.mean()

0.7414804862722212

## From the proportions, we can see that as level gets harder, there are less proportion of female players

In [29]:
prop = {"Level":["Easy", "Medium", "Hard", "Expert"], "Proportion of Male":[perc_num1.mean(), perc_num2.mean(), perc_num3.mean(), perc_num4.mean()]}

In [30]:
prop = pd.DataFrame(prop)

In [31]:
prop

    Level  Proportion of Male
0    Easy            0.628729
1  Medium            0.649911
2    Hard            0.693985
3  Expert            0.741480

## Let's explore proportion by country and see if there is a difference

In [32]:
## For US Players
lvl1_us = num[num["Puzzle Level"] == 1].reset_index()
lvl1_us = lvl1_us[lvl1_us["Country"] == "United States"].reset_index()

In [33]:
lvl1_us["Gender_numeric"] = lvl1_us["Gender"].map({"m":1, "f":0})

In [34]:
lvl1_us.head()

,level_0,index,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year,Country,US_State,Gender,Gender_numeric
0,3,7,5,1,257,119,35,21,72691,53643653,1949,United States,FL,m,1.0
1,6,22,13,1,234,1,0,0,234,54756,1974,United States,VA,m,1.0
2,14,44,26,1,80,37,36,0,4225,494419,1979,United States,TX,m,1.0
3,16,52,28,1,362,17,13,3,10640,7282048,1955,United States,OR,m,1.0
4,21,67,35,1,438,1,0,1,438,191844,1961,United States,0,f,0.0

In [35]:
lvl1_us["Gender_numeric"].sum()/lvl1_us["Gender_numeric"].count()

0.48119013350538486

In [36]:
lvl2_us = num[num["Puzzle Level"] == 2].reset_index()
lvl2_us = lvl2_us[lvl2_us["Country"] == "United States"].reset_index()

In [37]:
lvl2_us["Gender_numeric"] = lvl2_us["Gender"].map({"m":1, "f":0})

In [38]:
lvl2_us["Gender_numeric"].sum()/lvl2_us["Gender_numeric"].count()

0.549079754601227

In [39]:
lvl3_us = num[num["Puzzle Level"] == 3].reset_index()
lvl3_us = lvl3_us[lvl3_us["Country"] == "United States"].reset_index()

In [40]:
lvl3_us["Gender_numeric"] = lvl3_us["Gender"].map({"m":1, "f":0})

In [41]:
lvl3_us["Gender_numeric"].sum()/lvl3_us["Gender_numeric"].count()

0.6274859972400357

In [42]:
lvl4_us = num[num["Puzzle Level"] == 4].reset_index()
lvl4_us = lvl4_us[lvl4_us["Country"] == "United States"].reset_index()

In [43]:
lvl4_us["Gender_numeric"] = lvl4_us["Gender"].map({"m":1, "f":0})

In [44]:
lvl4_us["Gender_numeric"].sum()/lvl4_us["Gender_numeric"].count()

0.6434108527131783

## For all difficulty levels, the proportion of US male is below average

In [46]:
## For India Players:
### Level 1
lvl1_india = num[num["Puzzle Level"] == 1].reset_index()
lvl1_india = lvl1_india[lvl1_india["Country"] == "India"].reset_index()

In [47]:
lvl1_india["Gender_numeric"] = lvl1_india["Gender"].map({"m":1, "f":0})

In [48]:
lvl1_india["Gender_numeric"].sum()/lvl1_india["Gender_numeric"].count()

0.7795250320924262

In [49]:
## Level 2
lvl2_india = num[num["Puzzle Level"] == 2].reset_index()
lvl2_india = lvl2_india[lvl2_india["Country"] == "India"].reset_index()

In [50]:
lvl2_india["Gender_numeric"] = lvl2_india["Gender"].map({"m":1, "f":0})

In [51]:
lvl2_india["Gender_numeric"].sum()/lvl2_india["Gender_numeric"].count()

0.799764982373678

In [52]:
## Level 3
lvl3_india = num[num["Puzzle Level"] == 3].reset_index()
lvl3_india = lvl3_india[lvl3_india["Country"] == "India"].reset_index()

In [53]:
lvl3_india["Gender_numeric"] = lvl3_india["Gender"].map({"m":1, "f":0})

In [54]:
lvl3_india["Gender_numeric"].sum()/lvl3_india["Gender_numeric"].count()

0.8284485076633503

In [55]:
## Level 4
lvl4_india = num[num["Puzzle Level"] == 4].reset_index()
lvl4_india = lvl4_india[lvl4_india["Country"] == "India"].reset_index()

In [56]:
lvl4_india["Gender_numeric"] = lvl4_india["Gender"].map({"m":1, "f":0})

In [57]:
lvl4_india["Gender_numeric"].sum()/lvl4_india["Gender_numeric"].count()

0.8478011472275334

## The proportion of male players from India is significantly higher than average

### -----------------------------------------------------------------

In [63]:
## Create a new column with their age information
import datetime as dt
num["Age"] = int(dt.datetime.today().strftime("%Y")) - num["Birth_Year"]

In [68]:
## Remove the entries with null birth_year because that will skew the distribution
num = num.drop(num[num.Birth_Year == 0].index).reset_index()

In [69]:
num.head()

,index,User ID,Puzzle Level,Best Time (s),Puzzles Solved,Puzzle Solved w/o Errors,Puzzle Solved w/ Errors,Total Time (s) for all Puzzles Solved,Total of (time squared) for all puzzles solved,Birth_Year,Country,US_State,Gender,Age
0,0,1,1,506,1,1,0,506,256036,1976,Israel,0,m,43
1,1,2,1,79,12,11,1,2307,511683,1950,Israel,0,f,69
2,2,2,2,65,2,1,1,131,8581,1950,Israel,0,f,69
3,3,2,4,294,2,2,0,1556,1679080,1950,Israel,0,f,69
4,7,5,1,257,119,35,21,72691,53643653,1949,United States,FL,m,70