In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
## Load the property file
data = pd.read_csv("Property_Data.csv")
data.head(2)

/Users/jennyshang/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (13,15,114) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Row,PropID,Property Address,Property Name,Star Rating,Energy Star,LEED Certified,Building Status,Secondary Type,Market Name,...,2024 Pop Age 75-79(1m),2024 Pop Age 80-84(1m),2024 Pop Age 85+(1m),Situs_Num,Situs_Num_Remainder,SITUS_DIR,SITUS_NAM,SCP,SCSitus_NumNam,SCAPN
0,1,P1,6215 Johns Creek Cmn,The Reserve at Johns Creek Walk,4,NaN,NaN,Existing,Apartments,Atlanta,...,344.0,176.0,134.0,6215.0,Johns Creek Cmn,NaN,Johns Creek Cmn,GA Fulton The Reserve at Johns Creek Walk,GA Fulton6215 Johns Creek Cmn,GA Fulton 11-1000-0359-034
1,2,P2,927 3rd St NW,8West,4,NaN,NaN,Under Construction,Apartments,Atlanta,...,184.0,102.0,85.0,927.0,3rd St NW,NaN,3rd St,GA Fulton 8West,GA Fulton927 3rd St,GA Fulton 14-0112-0003-061-5

In [3]:
data.shape

(20363, 212)

In [7]:
data.columns.unique()

Index(['Record', 'SID', 'SCP', 'SCSitus_NumNam', 'SCAPN', 'Actual Cap Rate',
       'Age', 'Asking Price', 'Assessed Improved', 'Assessed Land',
       ...
       'Title Company', 'Total Expense Amount', 'Transaction Notes',
       'Transfer Tax', 'Two Bedroom Mix', 'Typ Flr (SF)', 'Units Per Acre',
       'Vacancy', 'Year Built', 'Zoning'],
      dtype='object', length=200)

In [8]:
## Add in necessary columns

building = pd.DataFrame()

In [9]:
building["SCAPN"] = data.SCAPN
building["SCSitus_NumNam"] = data["SCSitus_NumNam"]
building["PropID"] = data.PropID
building["Star_rating"] = data["Star Rating"]
building["City"] = data.City
building["State"] = data.State
building["Zip"]=data.Zip
building["County"] = data["County Name"]
building["For_sale_price"] = data["For Sale Price"]
building["For_sale_status"] = data["For Sale Status"]
building["Land_area"] = data["Land Area (AC)"]
building["Num_units"] = data["Number Of Units"]
building["Cap_rate"] = data["Cap Rate"]
building["Vacancy_%"] = data["Vacancy %"]
building["Avg_unit_sqft"] = data["Avg Unit SF"]
building["Avg_Concession_%"] = data["Avg Concessions %"]
building["Parking_per_unit"] = data["Parking Spaces/Unit"]
building["Days_on_mkt"] = data["Days On Market"]
building["Amenities"] = data.Amenities
building["Year_built"] = data["Year Built"]
building["Year_reno"] = data["Year Renovated"]
building["Last_sale_date"] = data["Last Sale Date"]
building["Last_sale_price"] = data["Last Sale Price"]
building["Transit_dist_mile"] = data["Closest Transit Stop Dist (mi)"]
building["Transit_walk_time_min"] = data["Closest Transit Stop Walk Time (min)"]
building["Const_material"] = data["Construction Material"]

building["Num_studio"] = data["Number Of Studios"]
building["Studio_rent_sqft"] = data["Studio Asking Rent/SF"]
building["Studio_avg_sqft"] = data["Studio Avg SF"]
building["Studio_concession_%"] = data["Studio Concessions %"]
building["Studio_vacancy_%"] = data["Studio Vacancy %"]

building["Num_1_bed"] = data["Number Of 1 Bedrooms"]
building["1_bed_rent_sqft"] = data["One Bedroom Asking Rent/SF"]
building["1_bed_avg_sqft"] = data["One Bedroom Avg SF"]
building["1_bed_concession_%"] = data["One Bedroom Concessions %"]
building["1_bed_vacancy_%"] = data["One Bedroom Vacancy %"]

building["Num_2_bed"] = data["Number Of 2 Bedrooms"]
building["2_bed_rent_sqft"] = data["Two Bedroom Asking Rent/SF"]
building["2_bed_avg_sqft"] = data["Two Bedroom Avg SF"]
building["2_bed_concession_%"] = data["Two Bedroom Concessions %"]
building["2_bed_vacancy_%"] = data["Two Bedroom Vacancy %"]

building["Num_3_bed"] = data["Number Of 3 Bedrooms"]
building["3_bed_rent_sqft"] = data["Three Bedroom Asking Rent/SF"]
building["3_bed_avg_sqft"] = data["Three Bedroom Avg SF"]
building["3_bed_concession_%"] = data["Three Bedroom Concessions %"]
building["3_bed_vacancy_%"] = data["Three Bedroom Vacancy %"]

building["Num_4_bed"] = data["Number Of 4 Bedrooms"]
building["4_bed_rent_sqft"] = data["Four Bedroom Asking Rent/SF"]
building["4_bed_avg_sqft"] = data["Four Bedroom Avg SF"]
building["4_bed_concession_%"] = data["Four Bedroom Concessions %"]
building["4_bed_vacancy_%"] = data["Four Bedroom Vacancy %"]

building["2010_Avg_age"] = data["2010 Avg Age(1m)"]
building["2019_Avg_age"] = data["2019 Avg Age(1m)"]
building["2019_Pop_25_39"] = data["2019 Pop Age 25-29(1m)"] + data["2019 Pop Age 30-34(1m)"]+data["2019 Pop Age 35-39(1m)"]
building["2024_Avg_age"] = data["2024 Avg Age(1m)"]
building["2024_Pop_25_39"] = data["2024 Pop Age 25-29(1m)"] + data["2024 Pop Age 30-34(1m)"]+data["2024 Pop Age 35-39(1m)"]

In [10]:
building.shape

(20363, 56)

In [11]:
building.head(3)

,SCAPN,SCSitus_NumNam,PropID,Star_rating,City,State,Zip,County,For_sale_price,For_sale_status,...,Num_4_bed,4_bed_rent_sqft,4_bed_avg_sqft,4_bed_concession_%,4_bed_vacancy_%,2010_Avg_age,2019_Avg_age,2019_Pop_25_39,2024_Avg_age,2024_Pop_25_39
0,GA Fulton 11-1000-0359-034,GA Fulton6215 Johns Creek Cmn,P1,4,Johns Creek,GA,300971535,Fulton,NaN,N,...,NaN,NaN,NaN,NaN,NaN,32.4,35.5,2956.0,37.1,3894.0
1,GA Fulton 14-0112-0003-061-5,GA Fulton927 3rd St,P2,4,Atlanta,GA,30318,Fulton,NaN,N,...,NaN,NaN,NaN,NaN,NaN,27.8,30.6,9959.0,32.6,9412.0
2,GA Fulton 17-0149-0008-098-2,GA Fulton555 8th St,P3,4,Atlanta,GA,30318,Fulton,NaN,N,...,100.0,NaN,NaN,NaN,5.0,26.4,29.9,12088.0,31.8,11441.0

## Filter by State

In [12]:
building.State.unique()

array(['GA', 'FL', 'Fl', 'NC', 'NC ', 'TX'], dtype=object)

In [13]:
### For Florida:

florida = building[building.State.isin(["FL","Fl"])]

In [14]:
florida.reset_index(inplace = True)

In [88]:
florida.head(3)

,index,SCAPN,SCSitus_NumNam,PropID,Star_rating,City,State,Zip,County,For_sale_price,...,Num_4_bed,4_bed_rent_sqft,4_bed_avg_sqft,4_bed_concession_%,4_bed_vacancy_%,2010_Avg_age,2019_Avg_age,2019_Pop_25_39,2024_Avg_age,2024_Pop_25_39
0,2827,FL Pinellas 34-29-15-50256-001-0010,FL Pinellas600 Bay Dr,P2828,4,Largo,FL,337703328,Pinellas,NaN,...,NaN,NaN,NaN,NaN,NaN,44.8,44.5,3406.0,44.5,3475.0
1,2828,FL Pinellas 24-31-16-29718-013-0150,FL Pinellas1601 Central Ave,P2829,4,Saint Petersburg,FL,337138934,Pinellas,NaN,...,NaN,NaN,NaN,NaN,NaN,39.8,41.7,4022.0,42.4,3831.0
2,2829,FL Hillsborough A-24-29-18-4ZI-000017-00002.1,FL Hillsborough915 Franklin St,P2830,4,Tampa,FL,336023809,Hillsborough,NaN,...,NaN,NaN,NaN,NaN,NaN,31.2,35.0,7773.0,36.3,7043.0

In [89]:
florida = florida.drop(florida.columns[0], axis = 1)

In [100]:
# Make all state value FL
florida.State = "FL"

In [90]:
florida.shape

(5315, 56)

In [39]:
### For Georgia

georgia = building[building.State == "GA"].reset_index()

In [40]:
georgia.head(3)

,index,SCAPN,SCSitus_NumNam,PropID,Star_rating,City,State,Zip,County,For_sale_price,...,Num_4_bed,4_bed_rent_sqft,4_bed_avg_sqft,4_bed_concession_%,4_bed_vacancy_%,2010_Avg_age,2019_Avg_age,2019_Pop_25_39,2024_Avg_age,2024_Pop_25_39
0,0,GA Fulton 11-1000-0359-034,GA Fulton6215 Johns Creek Cmn,P1,4,Johns Creek,GA,300971535,Fulton,NaN,...,NaN,NaN,NaN,NaN,NaN,32.4,35.5,2956.0,37.1,3894.0
1,1,GA Fulton 14-0112-0003-061-5,GA Fulton927 3rd St,P2,4,Atlanta,GA,30318,Fulton,NaN,...,NaN,NaN,NaN,NaN,NaN,27.8,30.6,9959.0,32.6,9412.0
2,2,GA Fulton 17-0149-0008-098-2,GA Fulton555 8th St,P3,4,Atlanta,GA,30318,Fulton,NaN,...,100.0,NaN,NaN,NaN,5.0,26.4,29.9,12088.0,31.8,11441.0

In [41]:
georgia = georgia.drop(georgia.columns[0], axis = 1)

In [42]:
georgia.shape

(2827, 56)

In [103]:
### North Carolina

n_carolina = building[building.State.isin(["NC","NC "])].reset_index()

In [104]:
n_carolina = n_carolina.drop(n_carolina.columns[0], axis = 1)

In [105]:
# Make all state value NC
n_carolina.State = "NC"

In [106]:
n_carolina.shape

(2426, 56)

In [97]:
### Texas

texas = building[building.State == "TX"].reset_index()

In [98]:
texas = texas.drop(texas.columns[0], axis = 1)

In [99]:
texas.shape

(9795, 56)

## Export Data into CSV

In [107]:
florida.to_csv("Property_FL.csv")

In [109]:
georgia.to_csv("Property_GA.csv")

In [110]:
n_carolina.to_csv("Property_NC.csv")

In [111]:
texas.to_csv("Property_TX.csv")

## Clean the Sales Data File

In [4]:
data = pd.read_csv("Sales_Data.csv")
data.head(2)

/Users/jennyshang/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (46,84,87,97,116,117,119,137,143,145,146,150) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Record,SID,SCP,SCSitus_NumNam,SCAPN,Actual Cap Rate,Age,Asking Price,Assessed Improved,Assessed Land,...,Title Company,Total Expense Amount,Transaction Notes,Transfer Tax,Two Bedroom Mix,Typ Flr (SF),Units Per Acre,Vacancy,Year Built,Zoning
0,1,S1,FL Hillsborough Discovery Village At Tampa Palms,FL Hillsborough 17470 Brookside Trace Ct,FL Hillsborough S1,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,"On April 1st, 2019, this 1,242 Unit Senior Liv...",NaN,15(2 + 2),NaN,NaN,21.9,2017.0,PD-A
1,2,S2,FL Leon Stadium Centre - The Edge,FL Leon 705 Madison St,FL Leon 21-36-90-118-955.0,NaN,1.0,42600000.0,0.0,1646565.0,...,Attorney Only,NaN,"On or around August 2, 2018, Bee Cave, TX-base...",276500.0,17(2 + 2),48465.0,NaN,NaN,2018.0,NaN

In [5]:
data.shape

(24527, 200)

In [8]:
## Add in necessary columns
sales = pd.DataFrame()

In [9]:
sales["SID"] = data.SID
sales["SCAPN"] = data.SCAPN
sales["SCSitus_NumNam"] = data["SCSitus_NumNam"]
sales["Building_age"] = data.Age
sales["Cap_rate_pro_forma"] = data["Pro Forma Cap Rate"]
sales["Cap_rate_actual"] = data["Actual Cap Rate"]

sales["Land_value"] = data["Assessed Land"]
sales["Total_value"] = data["Assessed Value"]
sales["Assessed_yr"] = data["Assessed Year"]
sales["Floor_area_ratio"] = data["Floor Area Ratio"]
sales["Num_floors"] = data["Number Of Floors"]
sales["Price_per_sqft"] = data["Price Per SF"]
sales["Land_price_per_AC"] = data["Price Per AC Land"]

sales["Sale_date"] = data["Sale Date"]
sales["Sale_price"] = data["Sale Price"]
sales["Listing_broker_company"] = data["Listing Broker Company"]

In [10]:
sales.head(2)

,SID,SCAPN,SCSitus_NumNam,Building_age,Cap_rate_pro_forma,Cap_rate_actual,Land_value,Total_value,Assessed_yr,Floor_area_ratio,Num_floors,Price_per_sqft,Land_price_per_AC,Sale_date,Sale_price,Listing_broker_company
0,S1,FL Hillsborough S1,FL Hillsborough 17470 Brookside Trace Ct,2.0,NaN,NaN,NaN,NaN,NaN,1.049861,NaN,332.02,15183761.28,4/1/19,49802737.0,Newmark Knight Frank
1,S2,FL Leon 21-36-90-118-955.0,FL Leon 705 Madison St,1.0,NaN,NaN,1646565.0,1646565.0,2017.0,2.981571,5.0,120.69,15674603.17,8/1/18,39500000.0,NaN

In [11]:
sales.shape

(24527, 16)

In [7]:
sales.to_csv("Sales_data_cleaned.csv")